src/main/resources/ldap.custom-attributes.dtd


	<!ELEMENT custom-attributes (directory*)>
	<!ELEMENT directory (server+, user, group)>
	<!ATTLIST directory name CDATA #REQUIRED>
	
	<!ELEMENT server (#PCDATA)> 
	
	<!ELEMENT user      (attribute*)>
	<!ELEMENT group     (attribute*)>
	<!ELEMENT attribute (ldap-name)>
	<!ELEMENT ldap-name (#PCDATA)>
	
	<!ATTLIST attribute key NMTOKEN #REQUIRED>
	<!ATTLIST attribute type (STRING|BINARY|INTEGER|DOUBLE) "STRING">
 